Flask==2.2.2

Рецензия от Губченко АндрейЖ
Лишние файлы отсутствуют, проект запускается без ошибок.
Все основные действия выполняются, логика проекта соответствует заданию.
Выполнены дополнительные задания: счётчик поколений, отслеживание мертвых клеток и исправление нового мира.
Проект реализован в соответствии с ТЗ, логика проекта работает верно.
Отличное решение!
